<ion-view title="Alternatives Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Alternatives Details</h4>

        </div>
        <div class="list card">
            <div class="item item-divider">Alternative Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Name :</ion-item>
                    <ion-item>Price :</ion-item>
                    <ion-item>Company Name :</ion-item>
                    <ion-item>Composition :</ion-item>
                    <ion-item>Availability :</ion-item>
                </ion-list>
                <div class="list card">
                    <div class="item item-divider">Stockist List</div>
                    <div class="item item-body">
                        <ion-list>
                            <ion-item ui-sref="stockistDetails">Stockist List 1</ion-item>
                            <ion-item ui-sref="stockistDetails">Stockist List 2</ion-item>
                            <ion-item ui-sref="stockistDetails">Stockist List 3</ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <ion-list></ion-list>
    </ion-content>
</ion-view>