<ion-view title="Company Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Company Details</h4>

        </div>
        <div>
            <p>Registration Id :</p>

            <p>Company Name :</p>

            <p>Company Address :</p>

            <p>Company Details :</p>
        </div>
        <a href="#/search" class="button button-royal button-block button-small">Search medicine</a>
    </ion-content>
</ion-view>