<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Login</h4>
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <ion-checkbox>Remember Me</ion-checkbox>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.search" class="button button-positive button-block ">Log in</a>
        </form>
        <a ui-sref="passwordRecovery" class="button button-calm button-clear button-block button-small">Forgot password?</a>
    </ion-content>
</ion-view>