<ion-view title="My Orders ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">My Orders</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ui-sref="orderDetails">Order 1</ion-item>
                    <ion-item ui-sref="orderDetails">Order 2</ion-item>
                    <ion-item ui-sref="orderDetails">Order 3</ion-item>
                    <ion-item ui-sref="orderDetails">Order 4</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>