<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>My Profile</h4>
        </div>
        <div class="list card">
            <div class="item item-divider">My Profile</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Name :</ion-item>
                    <ion-item>Username :</ion-item>
                    <ion-item>Address :</ion-item>
                    <ion-item>Contact No:</ion-item>
                </ion-list>
            </div>
        </div>
        <a ui-sref="changePassword" class="button button-royal button-block button-small">Change Password</a>
    </ion-content>
</ion-view>