<ion-view title="Order Confirmation">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Order Confirmation</h4>
            <p style="background-color:lightgreen;">
                <b>
                    <i>Your order placed successfully.</i>
                </b>
            </p>
        </div>
        <div style="text-align:center;">
            <img src="img/e3QPXeArTX1B6b2xy5LQ_medicines_square.jpg" width="100%" height="auto">
        </div>
        <div class="text-center">
            <p>
                <b>Thank you for using Pharmabus.We are eager to see you again.</b>
            </p>
        </div>
        <a ui-sref="menu.search" class="button button-royal button-block ">Search another medicine</a>
        <a ui-sref="startUp" class="button button-calm button-clear button-block button-small">Log out</a>
    </ion-content>
</ion-view>