<ion-view title="Order List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Order List</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Order Item 1</ion-item>
                    <ion-item>Order Item 2</ion-item>
                    <ion-item>Order Item 3</ion-item>
                    <ion-item>Order Item 4</ion-item>
                    <ion-item>Order Item 5</ion-item>
                </ion-list>
            </div>
        </div>
        <a ui-sref="orderConfirmation" class="button button-royal button-block ">Order</a>
        <a ui-sref="menu.search" class="button button-royal button-block ">Continue Search</a>
    </ion-content>
</ion-view>