<ion-view title="Order Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Order details</h4>
        </div>
        <div class="list card">
            <div class="item item-divider">Order Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Name :</ion-item>
                    <ion-item>Date :</ion-item>
                    <ion-item>Details :</ion-item>
                    <ion-item>Status :</ion-item>
                </ion-list>
            </div>
        </div>
        <a ui-sref="search" class="button button-positive button-block button-small">Search Medicine</a>
    </ion-content>
</ion-view>