<ion-view title="Password Recovery">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Password recovery</h4>
            <p>Enter your email-id or mobile number</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="Enter here"> </textarea>
            </label>
        </form>
        <a ui-sref="emailLink" class="button button-royal button-block button-small icon ion-ios-email">Send Link</a>
    </ion-content>
</ion-view>