<ion-view title="Product List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Product List</h4>
        </div>
        <ion-list>
            <ion-item href="#/product-details">Crocin</ion-item>
            <ion-item href="#/product-details">Metrogyl</ion-item>
            <ion-item href="#/product-details">Shelcal</ion-item>
            <ion-item href="#/product-details">Rantac</ion-item>
            <ion-item href="#/product-details">Pan D</ion-item>
        </ion-list>
    </ion-content>
</ion-view>