<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 14px;"></div>
        <!--<div class="text-center" style="background-color:lightgreen">
            Signed in successfully!
        </div>-->
        <form class="list">
            <div class="spacer" style="width: 285px; height: 18px;"></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Enter medicine">
            </label>
        </form>
        <a ui-sref="searchResults" class="button button-royal button-block button-small">Go</a>
    </ion-content>
</ion-view>