<ion-view title="Search Results">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Search Results</div>
            <div class="item item-body">
                <ion-list></ion-list>
                <ion-list></ion-list>
                <ion-list>
                    <ion-item>Name :</ion-item>
                    <ion-item>Type :</ion-item>
                    <ion-item>Price :</ion-item>
                    <ion-item>Composition :</ion-item>
                    <ion-item>Company Name :</ion-item>
                    <ion-item>Availability :</ion-item>
                </ion-list>
                <ion-list></ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Stockist List</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ui-sref="stockistDetails">Stockist Name 1</ion-item>
                    <ion-item ui-sref="stockistDetails">Stockist Name 2</ion-item>
                    <ion-item ui-sref="stockistDetails">Stockist Name 3</ion-item>
                    <ion-item ui-sref="stockistDetails">Stockist Name 4</ion-item>
                </ion-list>
            </div>
        </div>
        <a ui-sref="alternativesList" class="button button-calm button-clear button-block ">Alternatives</a>
    </ion-content>
</ion-view>