<ion-view title="Signup Confirmation">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <div class="text-center">
                <h4>Signup Confirmation</h4>
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username :</span>
                    <input type="text" placeholder="e.g.Maestro">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Username :</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password :</span>
                    <input type="text" placeholder="e.g.Maestro@123">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Password :</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="login" class="button button-royal button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>