<ion-view title="Stockist Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Stockist Details</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Name :</ion-item>
                    <ion-item>Area</ion-item>
                    <ion-item>Adddress :</ion-item>
                    <label class="item item-input">
                        <span class="input-label">Quantity :</span>
                        <input type="number" placeholder="">
                    </label>
                </ion-list>
            </div>
        </div>
        <form class="list"></form>
        <form class="list"></form>
        <a ui-sref="orderConfirmation" class="button button-royal button-block ">Order</a>
    </ion-content>
</ion-view>