<ion-view title="Alternatives Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Alternatives Details</h4>

        </div>
        <div>
            <p>Name :</p>

            <p>Price :</p>

            <p>Company Name :</p>

            <p>Composition :</p>

            <p>Availabilty :</p>
        </div>
        <div class="text-center">
            <h4>Stockist List</h4>

        </div>
        <ion-list>
            <ion-item href="#/stockist-details">Stockist List 1</ion-item>
            <ion-item href="#/stockist-details">Stockist List 2</ion-item>
            <ion-item href="#/stockist-details">Stockist List 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>