<ion-view title="Change Password">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Change Password</h4>
        </div>
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">New password :</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm password :</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Old Password :</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-block button-small">Change password</button>
    </ion-content>
</ion-view>