<ion-view title="My Orders ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>My Orders</h4>
        </div>
        <ion-list>
            <ion-item href="#/order-details">Order 1</ion-item>
            <ion-item href="#/order-details">Order 2</ion-item>
            <ion-item href="#/order-details">Order 3</ion-item>
            <ion-item href="#/order-details">Order 4</ion-item>
        </ion-list>
    </ion-content>
</ion-view>