<ion-view title="Search Results">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Search Results</h4>
        </div>
        <div>
            <p>Name :</p>

            <p>Price :</p>

            <p>Company Name :</p>

            <p>Composition :</p>

            <p>Availabilty :</p>
        </div>
        <div class="text-center">
            <h4>Stockist List</h4>
        </div>
        <ion-list>
            <ion-item href="#/stockist-details">Stockist Name 1</ion-item>
            <ion-item href="#/stockist-details">Stockist Name 2</ion-item>
            <ion-item href="#/stockist-details">Stockist Name 3</ion-item>
            <ion-item href="#/stockist-details">Stockist Name 4</ion-item>
        </ion-list>
        <a href="#/alternatives-list" class="button button-calm button-clear button-block ">Alternatives</a>
    </ion-content>
</ion-view>