<ion-view title="Start Up">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h1>Pharmabus</h1>
        </div>
        <div style="text-align:center;">
            <img src="img/d9cVhNDBQKmLC2vcDwws_pharmabus.jpg" width="100%" height="auto">
        </div>
        <div>
            <p class="text-center">
                Already having an account?
            </p>
        </div>
        <a href="#/login" class="button button-positive button-block ">Log In</a>
        <div>
            <p class="text-center">
                Not a member yet?
            </p>
        </div>
        <a href="#/signup" class="button button-royal button-block ">Sign Up</a>
    </ion-content>
</ion-view>