<ion-view title="Stockist Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <h4>Stockist Details</h4>
        </div>
        <div>
            <p>Name :</p>

            <p>Area :</p>

            <p>Address :</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Quantity :</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a href="#/order-confirmation" class="button button-royal button-block ">Order</a>
    </ion-content>
</ion-view>