.button-log-in
{
	background-color: #424c53!important;
	border-radius: 20px;
}

.button-sign-up
{
	background-color:#424c53!important;
	border-radius:20px;
}

.button-go
{
	background-color:#8b4131!important;
	color:white!important;
	border-radius:5px;

}

.button-order
{
	background-color:#ff1a66!important;
	border-radius:10px;
}

.button-display
{
	background-color:#00bfff!important;
	border-radius:10px;
	color:black!important;
}

.button {
   /* background-color: #4CAF50;*/
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;
}

/*a:hover
{
	color: white!important	;
}*/

.bar-custom
{
	background-color:#ac786b;
	font-weight:bold;
	color: white;
}

.back-image
{

}
body
{
	font-family: 'Biryani', sans-serif;
}





/*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;
}*/

.button-display1
{
	background-color:#A52A2A!important;
	border-radius:10px;
	
}

.button-display2
{
	background-color:#A52A2A!important;
	border-radius:10px;
	
}

.button-display3
{
	background-color:#BA55D3!important;
	border-radius:10px;

}

.button-display4
{
	background-color:#773517!important;
	border-radius:10px;
	
}

.button-display5
{
	background-color:#b83347!important;
	border-radius:10px;
	
}

.button-display6
{
	background-color:#96bf65!important;
	border-radius:10px;
}

.button-display7
{
	background-color:#44945e!important;
	border-radius:10px;
}

.button-display8
{
	background-color:#7b6b4f!important;
	border-radius:10px;
	
}

.button-display9
{
	background-color:#6e3d4b!important;
	border-radius:10px;
	
}

.button-display10
{
	background-color:#098587!important;
	border-radius:10px;
}
.button-display11
{
	background-color:#ac826d!important;
	border-radius:10px;
}
.button-display12
{
	background-color:#33CC99!important;
	border-radius:10px;
}
.button-display13
{
	background-color:#DA614E!important;
	border-radius:10px;
}
.button-display14
{
	background-color:#FF4466!important;
	border-radius:10px;
}






	

	
	
	
	
	
	
	
